@media print {
    body {
        font-size: .875rem;
    }
    .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }
    .header-section {
        display: none;
    }
    #myTab {
        display: none;
    }
    .dash-title {
        display: none !important;
    }
    #dashboard-table td,
    #dashboard-table th {
        border: 1px solid slategrey !important;
    }
    #dasboard-table tr:nth-child(even) {
        background-color: #035efc !important;
    }
    .dosen-container {
        display: none !important;
    }
    #myChart {
        height: 380px !important;
    }
}