@media print {
    html, body {
        font-size: .875rem;
        margin: 0 0 0 0 !important;
        height: auto !important; 
    }
    .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }
    #dashboard-table td,
    #dashboard-table th {
        border: 1px solid slategrey !important;
    }
    #dasboard-table tr:nth-child(even) {
        background-color: #035efc !important;
    }
    #grafik {
        height: 380px !important;
        page-break-inside: avoid;
        page-break-before: avoid;
        page-break-after: avoid
    }
}